<?xml version="1.0" encoding="UTF-8" ?>
<!-- 이것을 해주면 콘솔에 필요한 것만 나와서 적게 나온다. -->
<configuration scan="true" scanPeriod="3 seconds">

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>  [%-5level] %C{5} - %msg  %n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO" />
    <!-- git 에서 가져다 쓰면 이 부분은 바꿔줘야 한다. -->
    <logger name="com.callor.hello" level="DEBUG"  additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>