<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.naver.persistance.BookDao">
	<select id="selectAll" resultType="BookVO">
		SELECT * FROM tbl_books
	</select>
	
	<select id="findById" resultType="BookVO">
		SELECT * FROM tbl_books 
		WHERE isbn= #{isbn}
	</select>
	
	<insert id="insert" parameterType="BookVO">
		INSERT INTO tbl_books
			(
				isbn,	title, 
				author, publisher,
				price, discount,
				description, pubdate,
				link, image
			) VALUES (
				#{isbn}, #{title}, 
				#{author}, #{publisher},
				#{price} ,#{discount},
				#{description}, #{pubdate},
				#{link}, #{image}
			)
	</insert>
	<update id="update" parameterType="BookVO">
		UPDATE tbl_books SET
				title = #{title}, 
				author = #{author},
				publisher = #{publisher}
				price = #{price}
				discount = #{discount}
				description = #{description}
				pubdate = #{pubdate}
				link = #{link}
				image = #{image}
		WHERE isbn = #{isbn} 
	</update>
	<delete id="delete">
		DELETE FROM tbl_books WHERE isbn = #{isbn}
	</delete>
	
	 <select id="create_book_table">
	 	CREATE TABLE IF NOT EXISTS tbl_books (
			isbn	VARCHAR2(13)			PRIMARY KEY,
			title	nVARCHAR2(50)		NOT NULL	,
			author	nVARCHAR2(50)		NOT NULL	,
			publisher	nVARCHAR2(50)		NOT NULL,	
			price	number			,
			discount	number		,	
			description	nVARCHAR2(2000),			
			pubdate	VARCHAR2(10)	,	
			link	VARCHAR2(125)	,		
			image	VARCHAR2(125)			
	 	)
	 </select>
	
	
</mapper>