<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>2022 예문여고 성적처리</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{/static/css/main.css?ver=12}">
<link rel="stylesheet" th:href="@{/static/css/student_list.css?ver=8}">
<link rel="stylesheet" th:href="@{/static/css/student_detail.css?ver=2}">
<script>
	//rootPath를 script로 전달하기 위한 변환
	const rootPath = "[[@{/}]]"
</script>
<script th:src="@{/static/js/main.js?ver=3}"></script>
<script th:src="@{/static/js/student_list.js?ver=4}"></script>